.nav {
    @media (max-width: $break_md) {
        position: fixed;
        z-index: 10;
        top: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        transform: translate(-100%, 0);
        background: $alpha;
        padding: {
            right: 15px;
            left: 15px;
        }
        transition: {
            property: transform;
            duration: $duration;
            timing-function: ease-in;
        }
    }
    &__links {
        @include row-flex();
        @media (max-width: $break_md) {
            display: flex;
            flex-direction: column;
        }
    }
    &__item {
        @include col();
    }
    &__link {
        display: block;
        position: relative;
        overflow: hidden;
        padding-top: 9px;
        padding-bottom: 9px;
        color: inherit;
        font-weight: 500;
        text-decoration: none;
    }
    &_active {
        @media (max-width: $break_md) {
            transform: translate(0, 0);
            transition: {
                property: transform;
                duration: $duration;
                timing-function: ease-out;
            }
        }
    }
}
.nav__link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 32px;
    height: 1px;
    transform: translateX(-100%);
    background-color: $alpha;
    transition: {
        property: transform;
        duration: $duration;
    }
}
.nav__link:hover:after, .nav__link_active:after {
    transform: translateX(0);
}


.nav_theme_white {
    .nav__link {
        color: $alpha;
    }
}
