mixin modal-b()
    include ../../components/nav/nav
    include ../../components/socials/socials
    include ../../components/languages/languages
    .modal-b(id="form")
        .modal-b__wrapper
            .modal-b__inner
                form.modal-b__form.form.gallery.glide
                    h2.form__title Заказать
                    .form__dots-wrapper
                        .gallery__dots.form__dots(data-glide-el='controls[nav]')
                            button.gallery__dot(data-glide-dir='=0')
                                +icon({iconName: 'kaleydo-icon', className: 'gallery__dot-icon'})
                            button.gallery__dot(data-glide-dir='=1')
                                +icon({iconName: 'gallery-icon-2', className: 'gallery__dot-icon'})
                            button.gallery__dot(data-glide-dir='=2')
                                +icon({iconName: 'kaleydo-icon', className: 'gallery__dot-icon'})
                                | +
                                +icon({iconName: 'gallery-icon-2', className: 'gallery__dot-icon'})
                        .gallery__title-wrapper
                            h3.gallery__title.gallery__title_active Kaleydo Evo mini
                            h3.gallery__title КаталогAlcea
                            h3.gallery__title Kaleydo Evo mini + Каталог Alcea
                    .form__inputs
                        .input-wrapper.input-wrapper_name.form__input
                            +icon({iconName: 'input-user', className: 'input-wrapper__icon'})
                            input.input-wrapper__input(type="text" data-input-name placeholder="Ваше имя")
                        .input-wrapper.input-wrapper_tel.form__input
                            +icon({iconName: 'input-phone', className: 'input-wrapper__icon'})
                            input.input-wrapper__input(type="tel" placeholder="+7 (___) ___ __ __")
                    p.form__agreement Нажимая на кнопку, вы принимаете <a class="link" data-id="policy" href="javascript:;" target="_blank">Положение и Согласие</a> на обработку персональных данных
                    .gallery__info-wrapper
                        .gallery__info-track.glide__track(data-glide-el="track")
                            ul.gallery__info-slides.glide__slides
                                li.gallery__info-item
                                    .gallery__info
                                        .gallery__price-wrapper
                                            p.gallery__price
                                                span(data-price) €400.00 EUR
                                                +icon({iconName: 'coupon', className: 'gallery__price-icon'})
                                            p.gallery__price-old €500.00 EUR
                                        button.gallery__button.btn Заказать
                                    p.gallery__set
                                        +icon({iconName: 'check', className: 'gallery__set-icon'})
                                        | В комплект входит: Kaleydo Evo mini, micro USB кабель, ремешок
                                li.gallery__info-item
                                    .gallery__info
                                        .gallery__price-wrapper
                                            p.gallery__price
                                                span(data-price) €80.00 EUR
                                                +icon({iconName: 'coupon', className: 'gallery__price-icon'})
                                            p.gallery__price-old €100.00 EUR
                                        button.gallery__button.btn Заказать
                                li.gallery__info-item
                                    .gallery__info
                                        .gallery__price-wrapper
                                            p.gallery__price
                                                span(data-price) €420.00 EUR
                                                +icon({iconName: 'coupon', className: 'gallery__price-icon'})
                                            p.gallery__price-old €480.00 EUR
                                            p.gallery__price-old €600.00 EUR
                                        button.gallery__button.btn Заказать
                                    p.gallery__set
                                        +icon({iconName: 'check', className: 'gallery__set-icon'})
                                        | В комплект входит: Kaleydo Evo mini, micro USB кабель, ремешок + Каталог Alcea
    .modal-b(id="menu")
        .modal-b__wrapper
            .modal-b__inner
                .modal-b__nav-wrapper.nav-wrapper
                    +nav({className: 'nav-wrapper__nav'})
                    .nav-wrapper__links
                        a.nav-wrapper__link(href="https://apps.apple.com/ru/app/kaleydo-evo/id1422696712" target="_blank")
                            +icon({iconName: 'applestore', className: 'nav-wrapper__link-icon', viewBoxName: '0 0 111 30'})
                        a.nav-wrapper__link(href="https://play.google.com/store/apps/details?id=com.getudo.alcea.android&hl=ru" target="_blank")
                            +icon({iconName: 'googleplay', className: 'nav-wrapper__link-icon', viewBoxName: '0 0 126 30'})
                    +socials({className: 'nav-wrapper__socials'})
                    .modal-b__button-wrapper
                        button.btn.nav-wrapper__button(data-call-form) Заказать
                    +languages({className: 'nav-wrapper__languages'})
    .modal-b(id="policy")
        .modal-b__wrapper.modal-text
            .modal-b__inner
                .modal-text__wrapper
                    h1.modal-text__title Политика <br>конфиденциальности
                    p.modal-text__text Данная Политика конфиденциальности применима к данному Сайту. После просмотра данного Сайта обязательно прочитайте текст, содержащий политику конфиденциальности используемого сайта. В случае несогласия с данной Политикой конфиденциальности прекратите использование данного Сайта. Заполнив любую из форм и используя данный Сайт, Вы тем самым выражаете согласие с условиями изложенной ниже Политики конфиденциальности. Сайт охраняет конфиденциальность посетителей сайта. Персональная информация Для того чтобы оказывать вам услуги, отвечать на вопросы, выполнять ваши пожелания и требования требуется такая информация, как ваше имя и номер телефона. САЙТ может использовать указанную информацию для ответов на запросы, а также для связи с Вами по телефону с целью предоставления информации о предлагаемых САЙТ услугах и рекламных кампаниях. При поступлении от вас обращения в виде отправки любой заполненной на сайте формы САЙТ может потребоваться связаться с Вами для получения дополнительной информации, необходимой для вашего обслуживания и ответа на интересующие вопросы. САЙТ обязуется не передавать данную информацию третьим лицам без Вашего разрешения, за исключением информации, необходимой для выполнения вашего обслуживания. Со своей стороны, Вы предоставляете САЙТ право использовать любую сообщнную Вами информацию для выполнения указанных выше действий.
                    h4.moda-text__subtitle Безопасность
                    p.modal-text__text Передача персональных данных в любой форме (лично, по телефону или через Интернет) всегда связана с определенным риском, поскольку не существует абсолютно надежных (защищенных от злонамеренных посягательств) систем, однако САЙТ принимает необходимые адекватные меры для минимизации риска и предотвращения несанкционированного доступа, несанкционированного использования и искажения Ваших персональных данных. Несовершеннолетние САЙТ не принимает никакой информации от лиц моложе 18 лет без согласия их родителей или законных опекунов. Кроме того, лица моложе 18 лет не могут совершать каких-либо покупок или иных юридических действий на данном Сайте без согласия родителей или законных опекунов, если это не допускается законодательством.
                    h4.moda-text__subtitle Модификация
                    p.modal-text__text САЙТ имеет право изменять данную Политику конфиденциальности, изменять и корректировать условия доступа или запрещать доступ к сайту, а также изменять его содержание в любое время без предварительного уведомления.
    .modal-b(id="delivery")
        .modal-b__wrapper.modal-text
            .modal-b__inner
                .modal-text__wrapper
                    h1.modal-text__title Доставка
                    p.modal-text__text Данная Политика конфиденциальности применима к данному Сайту. После просмотра данного Сайта обязательно прочитайте текст, содержащий политику конфиденциальности используемого сайта. В случае несогласия с данной Политикой конфиденциальности прекратите использование данного Сайта. Заполнив любую из форм и используя данный Сайт, Вы тем самым выражаете согласие с условиями изложенной ниже Политики конфиденциальности. Сайт охраняет конфиденциальность посетителей сайта. Персональная информация Для того чтобы оказывать вам услуги, отвечать на вопросы, выполнять ваши пожелания и требования требуется такая информация, как ваше имя и номер телефона. САЙТ может использовать указанную информацию для ответов на запросы, а также для связи с Вами по телефону с целью предоставления информации о предлагаемых САЙТ услугах и рекламных кампаниях. При поступлении от вас обращения в виде отправки любой заполненной на сайте формы САЙТ может потребоваться связаться с Вами для получения дополнительной информации, необходимой для вашего обслуживания и ответа на интересующие вопросы. САЙТ обязуется не передавать данную информацию третьим лицам без Вашего разрешения, за исключением информации, необходимой для выполнения вашего обслуживания. Со своей стороны, Вы предоставляете САЙТ право использовать любую сообщнную Вами информацию для выполнения указанных выше действий.
                    h4.moda-text__subtitle Безопасность
                    p.modal-text__text Передача персональных данных в любой форме (лично, по телефону или через Интернет) всегда связана с определенным риском, поскольку не существует абсолютно надежных (защищенных от злонамеренных посягательств) систем, однако САЙТ принимает необходимые адекватные меры для минимизации риска и предотвращения несанкционированного доступа, несанкционированного использования и искажения Ваших персональных данных. Несовершеннолетние САЙТ не принимает никакой информации от лиц моложе 18 лет без согласия их родителей или законных опекунов. Кроме того, лица моложе 18 лет не могут совершать каких-либо покупок или иных юридических действий на данном Сайте без согласия родителей или законных опекунов, если это не допускается законодательством.
                    h4.moda-text__subtitle Модификация
                    p.modal-text__text САЙТ имеет право изменять данную Политику конфиденциальности, изменять и корректировать условия доступа или запрещать доступ к сайту, а также изменять его содержание в любое время без предварительного уведомления.
    .modal-b(id="partners")
        .modal-b__wrapper.modal-text
            .modal-b__inner
                .modal-text__wrapper
                    h1.modal-text__title Партнеры
                    p.modal-text__text Данная Политика конфиденциальности применима к данному Сайту. После просмотра данного Сайта обязательно прочитайте текст, содержащий политику конфиденциальности используемого сайта. В случае несогласия с данной Политикой конфиденциальности прекратите использование данного Сайта. Заполнив любую из форм и используя данный Сайт, Вы тем самым выражаете согласие с условиями изложенной ниже Политики конфиденциальности. Сайт охраняет конфиденциальность посетителей сайта. Персональная информация Для того чтобы оказывать вам услуги, отвечать на вопросы, выполнять ваши пожелания и требования требуется такая информация, как ваше имя и номер телефона. САЙТ может использовать указанную информацию для ответов на запросы, а также для связи с Вами по телефону с целью предоставления информации о предлагаемых САЙТ услугах и рекламных кампаниях. При поступлении от вас обращения в виде отправки любой заполненной на сайте формы САЙТ может потребоваться связаться с Вами для получения дополнительной информации, необходимой для вашего обслуживания и ответа на интересующие вопросы. САЙТ обязуется не передавать данную информацию третьим лицам без Вашего разрешения, за исключением информации, необходимой для выполнения вашего обслуживания. Со своей стороны, Вы предоставляете САЙТ право использовать любую сообщнную Вами информацию для выполнения указанных выше действий.
                    h4.moda-text__subtitle Безопасность
                    p.modal-text__text Передача персональных данных в любой форме (лично, по телефону или через Интернет) всегда связана с определенным риском, поскольку не существует абсолютно надежных (защищенных от злонамеренных посягательств) систем, однако САЙТ принимает необходимые адекватные меры для минимизации риска и предотвращения несанкционированного доступа, несанкционированного использования и искажения Ваших персональных данных. Несовершеннолетние САЙТ не принимает никакой информации от лиц моложе 18 лет без согласия их родителей или законных опекунов. Кроме того, лица моложе 18 лет не могут совершать каких-либо покупок или иных юридических действий на данном Сайте без согласия родителей или законных опекунов, если это не допускается законодательством.
                    h4.moda-text__subtitle Модификация
                    p.modal-text__text САЙТ имеет право изменять данную Политику конфиденциальности, изменять и корректировать условия доступа или запрещать доступ к сайту, а также изменять его содержание в любое время без предварительного уведомления.
