.socials {
    @include row-flex();
    align-items: center;
    justify-content: center;

    &__item {
        @include col();
        border-radius: 50%;
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 46px;
        height: 46px;
        transition: {
            property: transform;
            duration: .5s;
        }
    }
    &__link:active {
        transform: translateY(1px);
    }
    &__link:hover {
        transform: scale(1.2);
    }
    &__img {
        display: block;
        max-width: 46px;
        max-height: 46px;
        fill: $light;
        transition: {
            property: fill;
            duration: .3s;
        };
    }
    &__link:hover .socials__img {
        fill: $red;
    }
}
.socials_small {
    margin: {
        right: -10px;
        left: -10px;
    }
    .socials__item {
        margin: {
            right: 10px;
            left: 10px;
        }
    }
    .socials__link {
        width: 20px;
        height: 20px;
    }
    .socials__img {
        max-width: 20px;
        max-height: 20px;
    }
}
