mixin socials({className})
    ul.socials(class=className)
        li.socials__item.socials__item_instagram
            a.socials__link(href="https://www.instagram.com/Kaleydo_Evo_mini/" target="_blank")
                +icon({
                    className: 'svg-icon socials__img',
                    iconName: 'instagram'
                })
        li.socials__item.socials__item_whatsapp
            a.socials__link(href="https://wa.me/+77026631887" target="_blank")
                +icon({
                    className: 'svg-icon socials__img',
                    iconName: 'whatsapp'
                })
