.header {
    position: relative;
    min-height: 100vh;
    color: $light;
    background-color: $dark;

    &__wrapper {
        @include container();
        padding: {
            top: 80px;
            bottom: 125px;
        }
    }
    &__inner {
        @include row-flex();
    }
    &__text {
        @include col();
        @include size(6);
    }
    &__gallery {
        @include col();
        @include size(6);
    }
    &__title {
        @include h1();
        margin-bottom: 16px;
        line-height: 124%;
    }
    &__subtitle {
        @include h3();
    }
    &__title-block {
        margin-bottom: 72px;
    }
    &__advantages {
        margin-bottom: 52px;
    }
    &__mouse {
        box-sizing: content-box;
        position: absolute;
        bottom: 60px;
        left: 50%;
        max-width: 24px;
        max-height: 57px;
        transform: translateX(-50%);
        cursor: pointer;
        stroke: rgba($light, 0.15);
        stroke-width: 2px;
        fill: rgba($light, 0.15);
        padding: {
            right: 50px;
            left: 50px;
        }
        transition: {
            property: fill, stroke, transform;
            duration: .5s;
        }
    }
    &__mouse:hover {
        transform: translateX(-50%) scale(1.2);
        stroke: $red;
        fill: $red;
    }
    &__mouse:active {
        transform: translateX(-50%) translateY(1px);
    }
}
