.header {
    @media (max-width: $break_lg) {
        padding-top: 42px;
    }
    position: relative;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    display: flex;
    flex-direction: column;
    color: $light;
    background-color: $dark;

    &__parallax {
        position: absolute;
        bottom: 15%;
        left: 50px;
    }
    &__wrapper {
        @media (max-width: $break_xss) {
            padding-bottom: 32px;
            padding-top: 24px;
        }
        @media (max-width: $break_md) {
            padding-top: 40px;
        }
        @include container();
        width: 100%;
        padding: {
            top: 80px;
            bottom: 125px;
        }
        margin: {
            top: auto;
            bottom: auto;
        }
    }
    &__inner {
        @include row-flex();
    }
    &__text {
        @include col();
        @include size(6);
        @include size-sm(12);
    }
    &__gallery {
        @include col();
        @include size(6);
        @include size-sm(12);
    }
    &__title {
        @media (max-width: $break_md) {
            max-width: 550px;
        }
        @include h1();
        font-weight: 50;
        margin-bottom: 16px;
        line-height: 124%;

        .mark {
            display: block;
            font-weight: 700;
        }
    }
    &__subtitle {
        @include xss(font-size, 16px);
        @include h3();
    }
    &__title-block {
         @media (max-width: $break_xss) {
            margin-bottom: 24px;
        }
        @media (max-width: $break_md) {
            margin-bottom: 40px;
        }
        margin-bottom: 72px;
    }
    &__advantages {
        @media (max-width: $break_sm) {
            margin-bottom: 32px;
        }
        margin-bottom: 52px;
    }
    &__mouse {
        @media (max-width: $break_xss) {
            display: none;
        }
        @media (max-width: $break_sm) {
            bottom: 35px;
        }
        box-sizing: content-box;
        position: absolute;
        bottom: 60px;
        left: 50%;
        max-width: 24px;
        max-height: 57px;
        transform: translateX(-50%);
        cursor: pointer;
        stroke: rgba($light, 0.15);
        stroke-width: 2px;
        fill: rgba($light, 0.15);
        padding: {
            right: 50px;
            left: 50px;
        }
        transition: {
            property: fill, stroke, transform;
            duration: .5s;
        }
        overflow: visible;
    }
    &__mouse-arrows {
        animation-name: fadeInUp;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }
    &__more-info {
        @media (max-width: $break_sm) {
            margin-bottom: 40px;
        }
    }
    &__mouse:hover {
        transform: translateX(-50%) scale(1.2);
        stroke: $red;
        fill: $red;
    }
    &__mouse:active {
        transform: translateX(-50%) translateY(1px);
    }
}
