mixin steps({className = false})
    include ../../components/parallax-stripes/parallax-stripes

    section.steps(class=className id="steps")
        +parallax-stripes({className: 'steps__parallax'})
        .steps__wrapper
            .more-info.more-info_disabled
                .more-info__top-wrapper.steps__top-title(class="wow animate__fadeInUp" data-wow-duration="2s")
                    .more-info__top(data-anchor="steps")
                        .more-info__icon-wrapper
                            svg.more-info__icon
                                use(xlink:href='./img/sprites/sprite.svg#arrow-down')
                        h4.more-info__title
                            span.more-info__dotted Как использовать Kaleydo EVO mini в 4 шага?
                        .more-info__icon-wrapper
                            svg.more-info__icon
                                use(xlink:href='./img/sprites/sprite.svg#arrow-down')
                .more-info__dropdown(data-open="false")
                    .steps__inner.steps__middle
                        .steps__info
                            h1.steps__title Используйте Kaleydo EVO mini в 4 шага
                            ul.steps__list
                                li.steps__item.steps__item_1.steps__item_active
                                    .steps__icon
                                    .steps__text Сканируйте
                                li.steps__item.steps__item_2
                                    .steps__icon
                                    .steps__text Выбирайте
                                li.steps__item.steps__item_3
                                    .steps__icon
                                    .steps__text Визуализируйте
                                li.steps__item.steps__item_4
                                    .steps__icon
                                    .steps__text Создавайте
                            ul.steps__descriptions
                                li.steps__description.steps__description_active
                                    p.steps__description-inner <span class="steps__description-count">1.</span> Просканируйте нужный вам цвет и просматрите его через приложение
                                    .steps__description-images
                                        a.steps__description-image-wrapper(href="https://play.google.com/store/apps/details?id=com.getudo.alcea.android&hl=ru" target="_blank")
                                            +iconImg({iconName: 'applestore', className: 'steps__description-icon'})
                                        a.steps__description-image-wrapper(href="https://apps.apple.com/ru/app/kaleydo-evo/id1422696712" target="_blank")
                                            +iconImg({iconName: 'googleplay', className: 'steps__description-icon'})
                                li.steps__description
                                    p.steps__description-inner <span class="steps__description-count">2.</span> Создавайте вашу собственную палитру цветов
                                li.steps__description
                                    p.steps__description-inner <span class="steps__description-count">3.</span> Посмотрите выбранный цвт и найдит лучший источник вдохновения припомощи различных визуализаций
                                li.steps__description
                                    p.steps__description-inner <span class="steps__description-count">4.</span> Создайте свою собственную краску с выбранным  цветом при помощи Tntnext и Amatching от Alcea
                        ul.steps__gallery
                            li.steps__slide.steps__slide_active
                                img(class="steps__slide-img" src="./img/steps-slide-1.jpg" alt="")
                            li.steps__slide
                                img(class="steps__slide-img" src="./img/steps-slide-2.gif" alt="")
                            li.steps__slide
                                img(class="steps__slide-img" src="./img/steps-slide-3.jpg" alt="")
                            li.steps__slide
                                img(class="steps__slide-img" src="./img/steps-slide-4.jpg" alt="")
                    .steps__inner
                        .steps__advantages
                            .steps__advantage
                                .steps__advantage-icon-wrapper
                                    +icon({iconName: 'gallery-icon-2', className: 'steps__advantage-icon'})
                                .steps__advantage-info
                                    h4.steps__advantage-title Находите цвета в каталогах
                                    p.steps__advantage-description NCS, RAL, Alcea, Chroma
                            .steps__advantage-logo-wrapper
                                +icon({iconName: 'kaleydo-stroke', className: 'steps__advantage-logo'})
                            .steps__advantage
                                .steps__advantage-icon-wrapper
                                    +icon({iconName: 'paint', className: 'steps__advantage-icon'})
                                .steps__advantage-info
                                    h4.steps__advantage-title Можете подобрать любые цвета с
                                    p.steps__advantage-description красок, принтов, текстиля, пластика, еды и прочего
                        .more-info__top-wrapper.steps__top-title.steps__bottom-title
                            .more-info__top.more-info__top_small
                                .more-info__icon-wrapper
                                    svg.more-info__icon
                                        use(xlink:href='./img/sprites/sprite.svg#arrow-down')
                                h4.more-info__title Спасибо, теперь понятно
                                .more-info__icon-wrapper
                                    svg.more-info__icon
                                        use(xlink:href='./img/sprites/sprite.svg#arrow-down')
