.steps {
    @media (max-width: $break_xss) {
        padding: {
            top: 40px;
            bottom: 40px;
        }
    }
    position: relative;
    overflow: hidden;
    padding: {
        top: 72px;
        bottom: 72px;
    }
    background-color: $light;

    .more-info__dropdown {
        padding-left: 10px;
        margin-left: -10px;
        padding-top: 0;
    }
    &__top-title .more-info__title,
    &__top-title .more-info__icon-wrapper {
        padding-bottom: 0;
    }
    &__top-title .more-info__top {
        @media (max-width: $break_xs) {
            padding: {
                right: 10px;
                left: 10px;
            }
        }
        padding: {
            top: 14px;
            right: 28px;
            bottom: 14px;
            left: 28px;
        }
        text-transform: uppercase;
        color: $red;
        border: 2px solid currentColor;
        border-radius: 50px;
    }
    &__top-title .more-info__title {
        @include xs(font-size, 14px);
        font-size: 16px;
        font-weight: 700;
    }
    &__top-title .more-info__icon {
        font-size: 16px;
        animation-name: fadeInUp;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }
    &__parallax {
        position: absolute;
        bottom: 10%;
        left: 50px;
        opacity: 0;
    }
    &__middle {
        @media (max-width: $break_sm) {
            margin-top: 24px;
            margin-bottom: 32px;
        }
        margin-top: 52px;
        margin-bottom: 72px;
    }
    &__wrapper {
        @include container();
    }
    &__inner {
        @include row-flex();
    }
    &__info {
        @include col();
        @include size(6);
        @include size-sm(12);
    }
    &__title {
        @media (max-width: $break_md) {
            margin-bottom: 24px;
        }
        @include h1();
        margin-bottom: 40px;
    }
    &__list {
        position: relative;
        @media (max-width: $break_xss) {
            margin: {
                left: -10px;
                right: -10px;
                bottom: 7px;
            }
            padding-bottom: 30px;
        }
        @media (max-width: $break_md) {
            margin-bottom: 24px;
        }
        @include row-flex();
        margin-bottom: 30px;
        counter-reset: count;
    }
    &__item {
        @media (max-width: $break_xss) {
            width: auto;
            margin: {
                left: 10px;
                right: 10px;
                bottom: 0;
            }
        }
        @media (max-width: $break_md) {
            margin-bottom: 12px;
        }
        @include col();
        @include size(6);
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        cursor: pointer;
        user-select: none;
    }
    &__item:nth-last-of-type(-n+2) {
        @media (max-width: $break_xss) {
            margin-bottom: 0;
        }
        @media (max-width: $break_md) {
            margin-bottom: 12px;
        }
        margin-bottom: 0;
    }
    &__item:last-child {
        @media (max-width: $break_md) {
            margin-bottom: 12px;
        }
        margin-bottom: 0;
    }
    &__item .steps__text:before {
        counter-increment: count;
        content: counter(count)'.';
        margin-right: 4px;
    }
    &__item:hover .steps__text, &__item_active .steps__text {
        color: $dark;
    }
    &__item_active .steps__text {
        @media (max-width: $break_xss) {
            opacity: 1;
            visibility: visible;
        }
    }
    &__item_active.steps__item_1 .steps__icon {
        background-color: $red;
        border-color: $red;
    }
    &__item.steps__item .steps__icon:before {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;
    }
    &__item.steps__item_2 .steps__icon:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(../img/step-bg-2.jpg);
    }
    &__item.steps__item_3 .steps__icon:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(../img/step-bg-3.jpg);
    }
    &__item.steps__item_4 .steps__icon:before {
        content: "";
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-image: url(../img/step-bg-4.png);
    }
    &__icon:before {
        opacity: 0;
        transition: {
            property: opacity;
            duration: .5s;
        }
    }
    &__item_active .steps__icon:before {
        opacity: 1;
    }
    &__item:active {
        @media (max-width: $break_xss) {
            transform: none;
        }
        transform: translateY(1px);
    }
    &__item:hover .steps__icon {
        border-color: $dark;
        transform: scale(1.2);
    }
    &__icon {
        @media (max-width: $break_xss) {
            margin-right: 0;
        }
        @media (max-width: $break_md) {
            min-width: 30px;
            max-width: 30px;
            min-height: 30px;
            max-height: 30px;
            margin-right: 12px;
        }
        display: block;
        position: relative;
        min-width: 50px;
        max-width: 50px;
        min-height: 50px;
        max-height: 50px;
        border: 2px solid #c4c4c4;
        margin-right: 20px;
        border-radius: 50%;
        transition: {
            property: background-color, border-color, border-width, transform;
            duration: .5s, .5s, .3s, .5s;
        }
    }
    &__text {
        @media (max-width: $break_xss) {
            position: absolute;
            bottom: 0;
            left: 10px;
            opacity: 0;
            visibility: hidden;
        }
        @media (max-width: $break_md) {
            font-size: 14px;
        }
        @include h4();
        display: flex;
        color: #c4c4c4;
        font-weight: 500;
        transition: {
            property: color, opacity, visibility;
            duration: .5s;
        }
    }
    &__descriptions {

    }
    &__description {
        @media (max-width: $break_xss) {
            font-size: 12px;
        }
        @media (max-width: $break_sm) {
            margin-bottom: 24px;
        }
        @media (max-width: $break_md) {
            font-size: 14px;
        }
        @include h4();
        display: none;
    }
    &__description-count {
        @media (max-width: $break_xss) {
            display: none;
        }
    }
    &__description_active {
        display: block;
    }
    &__description-images {
        @media (max-width: $break_xss) {
            margin-top: 13px;
        }
        @media (max-width: $break_sm) {
            margin-top: 16px;
        }
        margin-top: 30px;
    }
    &__description-image-wrapper {
        display: inline-block;
    }
    &__description-icon {
        height: 30px;
        transition: {
            property: transform, color;
            duration: .5s;
        }
    }
    &__description-icon:hover {
        transform: scale(1.2);
        color: $red;
    }
    &__description-image-wrapper:first-child {
        margin-right: 60px;
    }
    &__gallery {
        @media (max-width: $break_sm) {
            margin-left: auto;
            margin-right: auto;
        }
        @include col();
        @include size(6);
        @include size-sm(8);
        @include size-xs(10);
        @include size-xss(12);
    }
    &__slide {
        display: none;
    }
    &__slide_active {
        display: block;
    }
    &__slide-img {
        max-width: 100%
    }
    &__inner {

    }
    &__advantages {
        @media (max-width: $break_sm) {
            display: none;
        }
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    &__advantage {
        @include col();
        @include size(3);
        @include size-xl(4);
        @include size-lg(3.5);
        @include size-md(4);
        @include size-sm(6);
        @include size-xss(12);
        display: flex;
    }
    &__advantage-icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 50px;
        max-width: 50px;
        min-height: 50px;
        max-height: 50px;
        margin-right: 20px;
        background-color: $dark;
        border-radius: 50%;
        transition: {
            property: transform, filter;
            duration: .5s;
        }
    }
    &__advantage:hover .steps__advantage-icon-wrapper {
        transform: scale(1.2);
        filter: invert(1);
    }
    &__advantage-icon {
        max-width: 22px;
        max-height: 25px;
        fill: $light;
        stroke: $light;
    }
    &__advantage-title {
        @include h4();
        line-height: 111%;
        margin-bottom: 3px;
    }
    &__advantage-description {
        font-size: 12px;
        line-height: 117%;
    }
    &__advantage-logo-wrapper {
        @include col();
        @include size(2);
        text-align: center;
    }
    &__advantage-logo {
        max-width: 92px;
        max-height: 70px;
        fill: transparent;
        stroke: $dark;
        stroke-width: 2px;
        transition: {
            property: transform, filter;
            duration: .5s;
        }
    }
    &__advantage-logo:hover {
        transform: scale(1.2);
    }
    &__top-title {
        width: 100%;
        text-align: center;
    }
    &__bottom-title {
        @media (max-width: $break_xss) {
            margin-top: 0;
        }
        width: 100%;
        text-align: center;
        margin-top: 52px;
    }
}
.steps_enabled {
    .steps__parallax {
        opacity: 1;
    }
}
