mixin gexagon({className})
    .gexagon-wrapper
        .gexagon
            +icon({iconName: 'horse', className: 'gexagon__icon', viewBoxName: '0 0 58 59'})
            span.gexagon__line.gexagon__line_1
            span.gexagon__line.gexagon__line_2
            span.gexagon__line.gexagon__line_3
            span.gexagon__line.gexagon__line_4
            span.gexagon__line.gexagon__line_5
            span.gexagon__line.gexagon__line_6
            span.gexagon__line.gexagon__line_7
            span.gexagon__line.gexagon__line_8
