extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = (lang === 'ru') ? "Kaleydo - page not found" : "Kaleydo - страница не найдена"
	- const description = (lang === 'ru') ? "Просканируйте нужный вам цвет и просматрите его через приложение «Kaleydo Evo mini»" : "Capture with Kaleydo EVO mini every color"

block content
	include ../../blocks/modules/404/404
	+404({})
block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
