.about {
    padding: {
        top: 100px;
        bottom: 100px;
    }
    color: $light;
    background-color: $dark;
    &__wrapper {
        @include container();
    }
    &__inner {
        @include row-flex();
    }
    &__text-col {
        @include col();
        @include size(6);
    }
    &__gexagon-col {
        @include col();
        @include size(6);
    }
    &__title {
        @include h1();
        margin-bottom: 10px;
    }
    &__description {
        font-size: 16px;
        line-height: 150%;
    }
    &__title-block {
        margin-bottom: 46px;
    }
    &__subtitle {
        @include h3();
        margin-bottom: 24px;
    }
    &__subtitle:last-child {
        margin-bottom: 0;
    }
}
