mixin video({className = false})
    section.video(class=className id="video")
        img.video__background(src="./img/video-img.png")
        video.video__video
            source(src="./img/about.mp4" type="video/mp4")
        .video__wrapper
            .video__inner
                .video__col
                    a.video__title(href="//alcea.com" target="_blank")
                        +icon({iconName: 'alcea-logo', className: 'video__title-img'})
                    button.youtube-btn.video__play-wrapper(data-anchor="video")
                        .video__play
                    .video__logo-wrapper
                        +icon({iconName: 'logo-only', className: 'video__logo'})
                    p.video__description Посмотрите видео и узнайте всё о Kaleydo EVO mini всего за 1 минуту
