mixin video({className = false})
    include ../../components/parallax-stripes/parallax-stripes

    -
        const video = {
            description: {
                ru: 'Посмотрите видео и узнайте всё о Kaleydo EVO mini всего за 1 минуту',
                en: 'Watch the video and find out everything about the Kaleydo EVO mini in just 1 minute'
            }
        };

    section.video(class=className id="video")
        +parallax-stripes({className: 'video__parallax'})
        .video__inner-wrapper
            img.video__background(src="./img/video-img.png" alt="")
            video.video__video.lazy
                source(src="" data-src="./img/present.webm" type="video/webm")
                source(src="" data-src="./img/present.mp4" type="video/mp4")
            .video__wrapper
                .video__inner
                    .video__col
                        a.video__title(href="//alcea.com" target="_blank" class="wow animate__fadeInUp" data-wow-duration=".5s")
                            +icon({iconName: 'alcea-logo', className: 'video__title-img'})
                        button.youtube-btn.video__play-wrapper(data-anchor="video" class="wow animate__fadeInUp" data-wow-duration="1s")
                            .video__play
                        .video__logo-wrapper(class="wow animate__fadeInUp" data-wow-duration="1.5s")
                            +icon({iconName: 'logo-only', className: 'video__logo'})
                        p.video__description(class="wow animate__fadeInUp" data-wow-duration="1.5s") !{video.description[lang]}
