mixin languages({className = false})
    .languages(class=className)
        a.languages__item(class=(lang === 'ru') ? 'languages__item_active' : false href="./") рус
        a.languages__item(class=(lang === 'en') ? 'languages__item_active' : false href="./index-en.html") eng
