.advantages {
    .advantages__item:last-child {
        margin-bottom: 0;
    }
    &__list {
        @include row-flex();
    }
    &__item {
        @include col();
        @include size(6);
        display: flex;
        margin-bottom: 30px;
    }
    &__img {
        max-width: 28px;
        max-height: 28px;
    }
    &__img-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 50px;
        max-width: 50px;
        min-height: 50px;
        max-height: 50px;
        margin-right: 20px;
        background-color: rgba($light, .15);
        border-radius: 50%;
        transition: {
            property: background-color, transform;
            duration: .5s;
        };
    }
    &__item:hover {
        .advantages__img-wrapper {
            transform: scale(1.1);
            background-color: $light;
        }
    }
    &__title {
        @include h4();
        margin-bottom: 6px;
    }
    &__description {
        font-size: 12px;
        line-height: 117%;
    }
}
