mixin gallery({className = false})
    .gallery(class=className)
        .gallery__img-wrapper.glide
            .gallery__arrows(data-glide-el='controls')
                button.gallery__arrow.gallery__arrow_left(data-glide-dir='<')
                    +icon({iconName: 'arrow-left', className: 'gallery__arrow-inner'})
                button.gallery__arrow.gallery__arrow_right(data-glide-dir='>')
                    +icon({iconName: 'arrow-right', className: 'gallery__arrow-inner'})
            .gallery__img-track.glide__track(data-glide-el="track")
                ul.gallery__img-slides.glide__slides
                    li.gallery__img-item.gallery__img-item_0.glide__slide
                        +icon({iconName: 'discount20', className: 'gallery__img-discount', viewBoxName: '0 0 103 151'})
                        img.gallery__img(src="./img/gallery-1.png" alt="")
                    li.gallery__img-item.gallery__img-item_1.glide__slide
                        +icon({iconName: 'discount20', className: 'gallery__img-discount', viewBoxName: '0 0 103 151'})
                        img.gallery__img(src="./img/gallery-2.png" alt="")
                    li.gallery__img-item.gallery__img-item_2.glide__slide
                        +icon({iconName: 'discount_blobs', className: 'gallery__img-blob', viewBoxName: '0 0 317.9 377'})
                        +icon({iconName: 'discount30', className: 'gallery__img-discount', viewBoxName: '0 0 157 208'})
                        img.gallery__img(src="./img/gallery-3.png" alt="")
            .gallery__dots(data-glide-el='controls[nav]')
                button.gallery__dot(data-glide-dir='=0' class="wow animate__fadeInUp" data-wow-duration=".5s")
                    +icon({iconName: 'kaleydo-icon', className: 'gallery__dot-icon'})
                button.gallery__dot(data-glide-dir='=1' class="wow animate__fadeInUp" data-wow-duration="1s")
                    +icon({iconName: 'gallery-icon-2', className: 'gallery__dot-icon'})
                button.gallery__dot(data-glide-dir='=2' class="wow animate__fadeInUp" data-wow-duration="1.5s")
                    +icon({iconName: 'kaleydo-icon', className: 'gallery__dot-icon'})
                    |&thinsp;+
                    +icon({iconName: 'gallery-icon-2', className: 'gallery__dot-icon'})
        .gallery__info-wrapper.glide
            .gallery__info-track.glide__track(data-glide-el="track")
                ul.gallery__info-slides.glide__slides
                    li.gallery__info-item
                        .gallery__title-wrapper
                            h3.gallery__title(class="wow animate__fadeInUp" data-wow-duration="1.5s") Kaleydo Evo mini
                        .gallery__info
                            .gallery__price-wrapper
                                p.gallery__price(class="wow animate__fadeInUp" data-wow-duration="1s")
                                    | €400.00 EUR
                                    +icon({iconName: 'coupon', className: 'gallery__price-icon'})
                                p.gallery__price-old(class="wow animate__fadeInUp" data-wow-duration="1.5s") €500.00 EUR
                            button.gallery__button.btn(data-offer-call class="wow animate__fadeInUp" data-wow-duration="1s") Заказать
                        p.gallery__set(class="wow animate__fadeInUp" data-wow-duration="2s")
                            +icon({iconName: 'check', className: 'gallery__set-icon'})
                            | В комплект входит: Kaleydo Evo mini, micro USB кабель, ремешок
                    li.gallery__info-item
                        .gallery__title-wrapper
                            h3.gallery__title Каталог Alcea
                        .gallery__info
                            .gallery__price-wrapper
                                p.gallery__price
                                    | €80.00 EUR
                                    +icon({iconName: 'coupon', className: 'gallery__price-icon'})
                                p.gallery__price-old €100.00 EUR
                            button.gallery__button.btn(data-offer-call) Заказать
                    li.gallery__info-item
                        .gallery__title-wrapper
                            h3.gallery__title Kaleydo Evo mini + Каталог Alcea
                        .gallery__info
                            .gallery__price-wrapper
                                p.gallery__price
                                    | €420.00 EUR
                                    +icon({iconName: 'coupon', className: 'gallery__price-icon'})
                                p.gallery__price-old 480.00 EUR
                                p.gallery__price-old 600.00 EUR
                            button.gallery__button.btn(data-offer-call) Заказать
                        p.gallery__set
                            +icon({iconName: 'check', className: 'gallery__set-icon'})
                            | В комплект входит: Kaleydo Evo mini, micro USB кабель, ремешок + Каталог Alcea
