extends layouts/default
include helpers/mixins

block variables
	- const title = "Kaleydo"

block content
	include ../blocks/modules/header/header
	include ../blocks/modules/video/video
	include ../blocks/modules/steps/steps

	+header({})
	+video({})
	+steps({})

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
