extends layouts/default
include helpers/mixins

block variables
	- const title = (lang === 'ru') ? "Kaleydoevomini - колориметр портативный, сканер с распознаванием цвета. Измерение и определение цвета" : "Kaleydoevomini | color measurement & recognition device with mobile app"
	- const description = (lang === 'ru') ? "Просканируйте нужный вам цвет портативным колориметром (сканером цвета) и просмотрите его через приложение «Kaleydo Evo mini»" : "Capture with Kaleydo EVO mini any color you see"

block content
	include ../blocks/modules/index/index
	+index({})
block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
