mixin parallax-stripes({className = false})
    .parallax-stripes.rellax(class=className data-rellax-speed="5" data-rellax-percentage="5")
        .parallax-stripes__line
        .parallax-stripes__line
