mixin parallax-stripes({className = false})
    .parallax-stripes.rellax(class=className data-rellax-speed="10" data-rellax-percentage="0")
        .parallax-stripes__inner
            .parallax-stripes__line
            .parallax-stripes__line
