.parallax-stripes {
    @include lg(display, none);

    z-index: 10;
    display: flex;
    &__line {
        display: block;
        min-width: 2px;
        min-height: 358px;
        background-color: #fff;
        box-shadow: 0px -10px 20px 10px rgba(255, 81, 70, 0.5);
    }
    &__line:first-child {
        margin-right: 30px;
        transform: translateY(-60px);
    }
}
