mixin footer({className = false})
    include ../../components/socials/socials

    -
        const footer = {
            description: {
                ru: 'Колориметр портативный - это сканер-определитель цвета. Распознает и измеряет цвет, передавая его в мобильное приложение',
                en: 'This color recognition device measures color on any flat surface'
            },
            copyright: {
                ru: 'Разработка сайта',
                en: 'Site development'
            },
            links: [
                {
                    ru: 'Политика конфиденциальности',
                    en: 'Privacy policy'
                }
            ]
        }

    footer.footer(class=className)
        .footer__wrapper
            .footer__inner
                .footer__top
                    .footer__logo
                        +icon({iconName: 'logo-only', className: 'footer__logo-inner', viewBoxName: '0 0 202 84'})
                    p.footer__description !{footer.description[lang]}
                    .footer__contacts
                        a.footer__phone(href="tel:+77026631887") +7 702 663 18 87
                        a.footer__email(href="mailto:info@kaleydoevo.com") info@kaleydoevo.com
                    .footer__socials
                        +socials({className: 'socials_small'})
                    .copyright.footer__copyright
                        p.copyright__text !{footer.copyright[lang]}
                        a.copyright__link(href="https://webpeppers.kz/" target="_blank").copyright__link webpeppers.kz
                    ul.footer__links
                        li.footer__links-item
                            a(href="javascript:;" data-id="policy").footer__links-link !{footer.links[0][lang]}
                        //- li.footer__links-item
                        //-     a(href="javascript:;" data-id="partners").footer__links-link Партнерам
                        //- li.footer__links-item
                        //-     a(href="javascript:;" data-id="delivery").footer__links-link Доставка
