$yellow: #FFC500;
$red: #FF5146;
$red-hover: #b5180f;
$dark: #212121;
$light: #fff;

$navHeight: 60px;

@mixin h1() {
    @include md(font-size, 32px);
    @include xss(font-size, 20px);
    @include xss(font-weight, 500);
    font-size: 42px;
    font-weight: 700;
}
@mixin h3() {
    font-size: 24px;
    font-weight: 500;
}
@mixin h4() {
    @include md(font-size, 16px);
    font-size: 18px;
    font-weight: 500;
}
@mixin container() {
    max-width: 1200px;
    margin: 0 auto;
    @include container-full();

    @include xl(max-width, 991px);
    @include lg(max-width, 100%);
}
.animate__slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}
@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 40%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInUp {
  animation-name: fadeInUp;
}
.animate__animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.animate__animated.animate__infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animate__animated.animate__slower {
  animation-duration: calc(1s * 3);
}

::selection {
    color: $light;
    background-color: $red;
}
::-webkit-scrollbar-thumb {
    background-color: #525658;
}
::-webkit-scrollbar-corner {
    background-color: #252627;
}
::-webkit-scrollbar {
    background-color: #2d2f30;
    color: #b4afa7;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #656a6c;
}
::-webkit-scrollbar-thumb:active {
    background-color: #555a5c;
}

img {
    max-width: 100%;
    max-height: 100%;
}
h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}
p {
    margin: {
        top: 0;
        bottom: 0;
    }
}
a {
    color: inherit;
    text-decoration: none;
}
button {
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    outline: none;
    user-select: none;
    background-color: transparent;
}
button:active {
    transform: translateY(1px);
}
html, body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    color: $dark;
    background-color: $dark;
}
.modal-active {
    &, & body {
        overflow: hidden;
    }

    .nav-row {
        z-index: 20;
        background-color: transparent;
    }
    .nav-row__info {
        opacity: 0;
        visibility: hidden;
    }
    .nav-row .nav-row__logo {
        opacity: 0;
        visibility: hidden;
    }
}
html *,
html *:before,
html *:after {
    box-sizing: inherit;
}
.container {
    @include container();
    @include sm(max-width, rem(510));
    @include md(max-width, rem(690));
    @include lg(max-width, rem(930));
    @include xl(max-width, rem(1110));
}

ul {
    list-style: none;
}


// BLOCK $mark
.mark {
    color: $yellow;
    background-color: transparent;
}

// BLOCK $btn
.btn {
    display: inline-block;
    padding: {
        top: 14px;
        bottom: 14px;
        left: 14px;
        right: 14px;
    }
    font-weight: 500;
    text-transform: uppercase;
    color: $light;
    background-color: $red;
    border-radius: 50px;
    transition: {
        property: background-color, color;
        duration: .3s;
    }
}
.btn_small {
    padding: {
        top: 8.5px;
        bottom: 8.5px;
    }
    font-size: 12px;
}
.btn:hover {
    background-color: $red-hover;
}


// BLOCK $top-section
.top-section {
    padding: {
        top: 32px;
    }
    @include container();
    width: 100%;

    &__inner {
        @include row-flex();
        flex-wrap: nowrap;
    }
    &__logo-wrapper {
        @include col();
    }
    &__logo {
        @media (max-width: $break_xss) {
            max-width: 49px;
            max-height: 35px;
        }
        @media (max-width: $break_sm) {
            max-width: 100px;
            max-height: 68px;
        }
        display: block;
        width: 133px;
        height: 96px;
        user-select: none;
    }
    &__description {
        @media (max-width: $break_xs) {
            max-width: 115px;
            font-size: 10px;
            flex-grow: 1;
            margin-left: 0;
            margin-right: 0;
        }
        @include sm(font-size, 12px);
        @include col();
        max-width: 277px;
        line-height: 125%;
    }
    &__links {
        @media (max-width: $break_xss) {
            align-items: center;
        }
        @media (max-width: $break_xs) {
            margin-left: 8px;
            flex-grow: 1;
        }
        @include col();
        display: flex;
        align-items: flex-start;
    }
    &__link {
        @media (max-width: $break_xs) {
            width: 50%;
        }
        @include xs(margin-right, 10px);
        @include sm(margin-right, 16px);
        margin-right: 40px;
    }
    &__link:last-child {
        @include xs(margin-right, 0);
        @include sm(margin-right, 0);
        margin-bottom: 0;
    }
    &__link-icon {
        @include xs(height, auto);
        @include sm(height, 16px);
        height: 25px;
        transition: {
            property: color, transform;
            duration: .5s;
        };
    }
    &__link-icon:hover {
        color: $red;
        transform: scale(1.2);
    }
}


// BLOCK $nav-row
.nav-row {
    @media (max-width: $break_sm) {
        padding: {
            top: 15px;
            left: 15px;
            right: 15px;
        }
    }
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    align-items: center;
    width: 100%;
    padding: {
        top: 24px;
        left: 30px;
        right: 30px;
        bottom: 15px;
    }
    transition: {
        property: background-color, color, padding-top;
        duration: .5s;
    }
    pointer-events: none;

    &__languages {
        @media (max-width: $break_xs) {
            display: none;
        }
        margin-right: 25px;
    }
    &__wrapper {
        @include container();
        width: 100%;
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__logo {
        @media (max-width: $break_sm) {
            margin-left: 40px;
        }
        @media (max-width: $break_lg) {
            margin-left: 60px;
        }
        display: inline-flex;
        align-items: center;
        fill: currentColor;
        opacity: 0;
        transition: {
            property: opacity,visibility;
            duration: .5s;
        }
        pointer-events: all;
        cursor: pointer;
    }
    &__logo-inner {
        width: 100%;
        max-width: 26px;
        margin-right: 10px;
    }
    &__logo-text {
        @media (max-width: $break_sm) {
            display: none;
        }
        width: 100%;
        max-width: 174px;
    }
    &__hamburger {
        pointer-events: all;
    }
    &__info {
        display: flex;
        align-items: center;
        margin-left: auto;
        transition: {
            property: opacity, visibility;
            duration: .5s;
        }
        pointer-events: all;
    }
    &__button {
        @media (max-width: $break_xss) {
            min-width: 90px;
            margin-left: 10px;
        }
        min-width: 140px;
        margin-left: 20px;
    }
}
.nav-row_active {
    padding-top: 15px;
    color: $dark;
    background-color: #fff;

    .nav-row__logo {
        opacity: 1;
    }
}


// BLOCK $modal-b
.modal-b {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    overflow-x: hidden;
    overflow-y: auto;
    color: $light;
    background-color: $dark;
    transition: {
        property: transform;
        duration: 1s;
    }

    &__wrapper {
        @include container();
        width: 100%;
    }
    &__inner {
        @include row-flex();
        justify-content: center;
        align-items: center;
        min-height: 100%;
        padding: {
            top: 100px;
            bottom: 100px;
        }
    }
    &__nav-wrapper {
        @include col();
        max-width: 465px;
    }
    &__button-wrapper {
        text-align: center;
    }
}
.modal-b_active {
    transform: translateX(0);
}



// BLOCK $more-info
.more-info {
    &__dotted {
        padding-bottom: 3px;
        background-image: linear-gradient(to right, currentColor 33%, rgba(255,255,255,0) 0%);
        background-position: bottom;
        background-size: 3px 1px;
        background-repeat: repeat-x;
    }
    &__top {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        user-select: none;
        stroke: currentColor;
        transition: {
            duration: .5s;
            property: stroke, color;
        }
    }
    &__top_small .more-info__title {
        font-size: 12px;
    }
    &__top_small .more-info__icon {
        stroke-width: 1px;
        max-width: 9px;
    }
    &__top:active {
        transform: translateY(1px);
    }
    &__top:hover, .more-info_disabled &__top:hover {
        color: $red;
        stroke: $red;
    }
    &__title {
        @include h3();
        @include xss(font-size, 14px);
        position: relative;
        padding-bottom: 6px;
        margin: {
            left: 9px;
            right: 9px;
        }
        font-weight: 500;
        overflow: hidden;
    }
    &__icon-wrapper {
        padding-bottom: 10px;
    }
    &__icon {
        @media (max-width: $break_xss) {
            max-width: 8px;
            max-height: 8px;
        }
        display: block;
        max-width: 14px;
        max-height: 14px;
        stroke-width: 2px;
        transition: {
            duration: .5s;
            property: transform;
        }
    }
    &__dropdown {
        @media (max-width: $break_xss) {
            padding-top: 0;
            padding-left: 0;
        }
        padding: {
            top: 10px;
            left: 21px;
        }
        overflow: hidden;
        max-height: 0;
        transition: {
            property: max-height;
            duration: .5s;
        }
    }
    &__link {
        margin-bottom: 7px;
    }
    &__link:last-child {
        margin-bottom: 0;
    }
}
.more-info_disabled {
    .rellax {
        opacity: 0;
    }
    .more-info__top {
        color: #424242;
        stroke: currentColor;
    }
    .more-info__icon {
        transform: rotate(180deg);
    }
}



// BLOCK $download-link
.download-link {
    @media (max-width: $break_xss) {
        font-size: 10px;
    }
    display: block;
    font-size: 12px;
    line-height: 117%;
    fill: currentColor;
    transition: {
        property: color, fill;
        duration: .3s;
    }
    &:hover {
        color: $red;
    }

    &__icon {
        max-width: 13px;
        max-height: 17px;
        margin-left: 10px;
    }
}




// BLOCK $nav-wrapper
.nav-wrapper {
    &__button {
        @media (max-width: $break_md) {
            margin-bottom: 32px;
        }
        @media (max-width: $break_lg) {
            margin-bottom: 40px;
        }
        @media (max-width: $break_md) {
            min-width: 220px;
        }
        min-width: 270px;
        margin-bottom: 60px;
    }
    &__nav {
        @media (max-width: $break_xl) {
            margin-bottom: 40px;
        }
        margin-bottom: 48px;
    }
    &__nav:last-child {
        margin-bottom: 0;
    }
    &__socials {
        @media (max-width: $break_xl) {
            margin-bottom: 40px;
        }
        margin-bottom: 60px;
    }
    &__socials:last-child {
        margin-bottom: 0;
    }
    .nav-wrapper__languages {
        justify-content: center;
        @media (max-width: $break_xs) {
            display: flex;
        }
    }
    .languages__item {
        @media (max-width: $break_xs) {
            font-size: 12px;
        }
        font-size: 16px;
    }

    &__links {
        @media (max-width: $break_lg) {
            margin-bottom: 32px;
        }
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
    }
    &__link {
        @media (max-width: $break_lg) {
            margin-right: 24px;
        }
        margin-right: 40px;
        transition: {
            property: color, transform;
            duration: .5s;
        }
    }
    &__link-icon {
        @media (max-width: $break_lg) {
            height: 24px;
        }
        height: 30px;
    }
    &__link:hover {
        color: $red;
        transform: scale(1.2);
    }
    &__link:last-child {
        @media (max-width: $break_lg) {
            margin-right: 0;
        }
        margin-right: 0;
    }
}



// BLOCK $gallery
.gallery {
    position: relative;
    &__arrows {
        @media (max-width: $break_xss) {
            display: none;
        }
    }
    &__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
        stroke: $light;
        stroke-width: 2px;
        user-select: none;
        transition: {
            property: stroke;
            duration: .3s;
        }
    }
    &__arrow,
    &__arrow-inner {
        width: 15px;
        height: 30px;
    }
    &__arrow:active {
        transform: translateY(-50%) translateY(1px);
    }
    &__arrow_left {
        @media (max-width: $break_md) {
            left: 20px;
        }
        left: 80px;
    }
    &__arrow_right {
        @media (max-width: $break_md) {
            right: 20px;
        }
        right: 80px;
    }
    &__arrow:hover {
        stroke: $red;
    }
    &__img-discount {
        @media (max-width: $break_xs) {
            max-width: 48px;
            transform: translateX(-50%) translateY(0);
        }
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        max-width: 102px;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-50%) translateY(-40px);
        filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.15));
        transition: {
            property: opacity, visibility;
            duration: .5s;
        }
        pointer-events: none;
    }
    &__img-blob {
        @media (max-width: $break_xs) {
            width: 160px;
        }
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-34%) translateY(-10%);
        width: 304px;
        opacity: 0;
        visibility: hidden;
        transition: {
            property: opacity, visibility;
            duration: .5s;
        }
        pointer-events: none;
    }
    &__img-track {
        position: relative;
        z-index: 3;
        max-width: 510px;
        margin: {
            left: auto;
            right: auto;
        }
        overflow: visible;
    }
    &__img-slides {
        @media (max-width: $break_xss) {
            height: 184px;
        }
        @media (max-width: $break_md) {
            height: 350px;
        }
        width: auto !important;
        height: 380px;
        overflow: visible;
        transform: none !important;
    }
    &__item {
        position: relative;
    }
    &__img-wrapper {
        @media (max-width: $break_sm) {
            max-width: 510px;
            margin-left: auto;
            margin-right: auto;
        }
        position: relative;
        z-index: 1;
        padding-bottom: 30px;
        text-align: center;
    }
    &__img-item {
        @media (max-width: $break_md) {
            opacity: 0;
        }
        position: absolute;
        left: 0;
        top: 50%;
        transform: scale(.3) translateY(-50%);
        width: auto !important;
        height: auto;
        max-height: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
        opacity: .3;
        transition: {
            property: transform, top, left, opacity;
            duration: .8s;
        }
        will-change: transform, top, left, opacity;
    }
    &__img {
        @media (max-width: $break_xss) {
            max-width: 182px;
            max-height: 184px;
        }
        @media (max-width: $break_md) {
            max-width: 230px;
            max-height: 350px;
        }
        max-width: 288px;
        filter: drop-shadow(-25px 25px 50px rgba(0, 0, 0, 0.3));
    }
    &__title-wrapper {
        @media (max-width: $break_xss) {
            margin-bottom: 8px;
        }
        margin-bottom: 24px;
    }
    &__title {
        @media (max-width: $break_xss) {
            font-size: 20px;
            text-align: center;
        }
        @media (max-width: $break_md) {
            width: 100%;
            padding-top: 56px;
        }
        @include h3();
        width: 235px;
        margin-left: auto;
        white-space: normal;
    }
    &__info-wrapper {
        max-width: 510px;
        margin: {
            left: auto;
            right: auto;
        }
    }
    &__info {
        @media (max-width: $break_xss) {
            display: block;
            flex-wrap: wrap;
            text-align: center;
        }
        display: flex;
        align-items: flex-start;
        margin-bottom: 19px;
    }
    &__price-wrapper {
        @media (max-width: $break_xss) {
            width: 100%;
            margin-bottom: 28px;
            text-align: center;
        }
        flex-grow: 1;
    }
    &__price {
        @media (max-width: $break_xss) {
            justify-content: center;
            font-size: 20px;
        }
        @include h3();
        display: flex;
        align-items: center;
        color: $red;
        line-height: 120%;
    }
    &__price-icon {
        max-width: 15px;
        max-height: 15px;
        margin-left: 10px;
    }
    &__price-old {
        @media (max-width: $break_xss) {
            font-size: 14px;
        }
        text-decoration-line: line-through;
    }
    &__button {
        @media (max-width: $break_xss) {
            min-width: 190px;
        }
        flex-grow: 25;
        max-width: 270px;
    }
    &__set {
        @media (max-width: $break_xss) {
            max-width: 190px;
            margin: {
                left: auto;
                right: auto;
            }
        }
        position: relative;
        padding-left: 24px;
        font-size: 12px;
        white-space: normal;
    }
    &__set-icon {
        position: absolute;
        top: -1px;
        left: 0;
        max-width: 16px;
        max-height: 16px;
    }
    &__dots {
        @media (max-width: $break_xss) {
            width: 100%;
            margin: {
                left: 0;
                right: 0;
            }
            max-width: none;
            justify-content: center;
        }
        @media (max-width: $break_xl) {
            margin-right: -10px;
            margin-left: -10px;
        }
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        max-width: 510px;
        width: 100%;
        display: flex;
        align-items: center;
        margin-left: -20px;
        margin-right: -20px;
    }
    &__dot {
        @media (max-width: $break_xss) {
            margin-right: 15px;
            margin-left: 15px;
        }
        @media (max-width: $break_xl) {
            margin-right: 10px;
            margin-left: 10px;
        }
        display: flex;
        align-items: center;
        margin-right: 20px;
        margin-left: 20px;
        color: #424242;
        font-size: 26px;
        font-weight: 600;
    }
    &__dot-icon {
        display: block;
        height: 100%;
        width: 100%;
    }
    &__dot-icon {
        max-width: 40px;
        max-height: 40px;
        stroke: #424242;
        fill: #424242;
        transition: {
            property: stroke, fill, color;
            duration: .3s;
        }
    }
    &__dot:hover,
    &__dot.glide__bullet--active {
        color: $red;
    }
    &__dot:hover .gallery__dot-icon {
        stroke: $red;
    }
    &__dot.glide__bullet--active .gallery__dot-icon {
        fill: $red;
        stroke: $red;
    }
}
.gallery__img-wrapper:after {
    @media (max-width: $break_sm) {
        content: none;
    }
    content: '';
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 470px;
    height: 470px;
    border-radius: 50%;
    background: rgba($light, 0.2);
    filter: blur(70px);
    pointer-events: none;
}


.gallery__img-item.glide__slide--active {
    @media (max-width: $break_md) {
        opacity: 1;
    }
    transform: none;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    opacity: 1;
}
.gallery__img-item.glide__slide--active .gallery__img-discount,
.gallery__img-item.glide__slide--active .gallery__img-blob {
    opacity: 1;
    visibility: visible;
}

.gallery__img-item_2 .gallery__img-discount {
    @media (max-width: $break_xs) {
        max-width: 64px;
        transform: translateX(-22%) translateY(40%);
    }
    max-width: 136px;
    transform: translateX(-22%) translateY(24%);
}
.gallery__img-item_1 .gallery__img-discount {
    transform: translateX(-100%);
}

.gallery__img-wrapper.gallery-active {
    &-0 {
        .gallery__img-item_2 {
            transform: translate(-39%, -50%) scale(.3);
        }
        .gallery__img-item_1 {
            left: 100%;
            transform: translate(-60%, -50%) scale(0.3);
        }
    }
    &-1 {
        .gallery__img-item_0 {
            transform: translate(-41%, -50%) scale(.17);
        }
        .gallery__img-item_2 {
            left: 100%;
            transform: translate(-60%, -50%) scale(0.3);
        }
    }
    &-2 {
        .gallery__img-item_1 {
            transform: translate(-32%, -50%) scale(.3);
        }
        .gallery__img-item_0 {
            left: 100%;
            transform: translate(-60%, -50%) scale(.17);
        }
    }
}



// BLOCK $cursor
.cursor-inner {
    @media (max-width: $break_md) {
        display: none;
    }
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    border: 4px solid $light;
    mix-blend-mode: difference;
    pointer-events: none;
    transition: {
        property: opacity;
        duration: .3s;
    }
}
.cursor {
    @media (max-width: $break_md) {
        display: none;
    }
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid $light;
    mix-blend-mode: difference;
    pointer-events:  none;
    transition: {
        property: opacity;
        duration: .3s;
    }
}



// BLOCK $copyright
.copyright {
    @media (max-width: $break_xs) {
        font-size: 10px;
    }
    line-height: 125%;
    color: currentColor;

    &__text {
        @media (max-width: $break_xs) {
            margin-right: 5px;
        }
    }
    &__link {
        text-decoration-line: underline;
        transition: {
            property: color, text-decoration-color;
            duration: .5s;
        }
    }
    &__link:hover {
        text-decoration-color: transparent;
        color: $red;
    }
}


// BLOCK $input-wrapper
.input-wrapper {
    position: relative;
    display: block;

    &__icon {
        position: absolute;
        top: 25px;
        left: 20px;
        transform: translateY(-50%);
        max-width: 16px;
        max-height: 16px;
        pointer-events: none;
    }
    &__input {
        display: block;
        width: 100%;
        padding: {
            top: 16px;
            bottom: 16px;
            left: 50px;
            right: 22px;
        }
        margin: 0;
        outline: none;
        color: $dark;
        background-color: #424242;
        border: 1px #424242 solid;
        border-radius: 50px;
        transition: {
            property: background-color, border-color;
            duration: .5s;
        };
    }
    &__input:hover {
        border-color: #fff;
    }
    &__input:focus,
    &__input_filled {
        border-color: #fff;
        background-color: $light;
    }
    &__input::placeholder {
        color: currentColor;
    }

    &_error {
        .input-wrapper__input {
            color: $red;
            border-color: $red;
        }
        &:after {
            content: 'Заполните это поле';
            color: $red;
            display: block;
            margin-top: 8px;
            padding-left: 50px;
        }
    }
}


// BLOCK $form
.form {
    @media (max-width: $break_xs) {
        max-width: 290px;
    }
    @media (max-width: $break_sm) {
        max-width: 320px;
    }
    max-width: 510px;

    &__dots-wrapper {
        @media (max-width: $break_md) {
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 16px;
        }
        display: flex;
        align-items: center;
        margin-bottom: 32px;
    }
    &__dots {
        @media (max-width: $break_md) {
            justify-content: center;
        }
        position: static;
        transform: none;
    }
    .gallery__title-wrapper {
        margin-bottom: 0;
    }
    .gallery__title {
        display: none;
        @media (max-width: $break_md) {
            padding-top: 16px;
        }
    }
    .gallery__title_active {
        display: block;
    }
    .gallery__title-wrapper {
        @media (max-width: $break_md) {
            margin-bottom: 0;
        }
    }
    .gallery__info {
        @media (max-width: $break_md) {
            flex-wrap: wrap;
        }
    }
    .gallery__price-wrapper {
        @media (max-width: $break_sm) {
            margin-right: 5px;
        }
    }
    &__title {
        @media (max-width: $break_xl) {
            margin-bottom: 24px;
            text-align: center;
        }
        @include h1();
        margin-bottom: 32px;
        font-weight: 500;
    }
    &__name {
        @include h3();
    }
    &__input {
        margin-bottom: 20px;
    }
    &__input:last-child {
        margin-bottom: 0;
    }
    &__inputs {
        margin-bottom: 20px;
    }
    &__agreement {
        margin-bottom: 28px;
        font-size: 12px;
        line-height: 117%;
    }
}


// BLOCK $link
.link {
    text-decoration-line: underline;
    transition: {
        property: color, text-decoration-color;
        duration: .5s;
    }
    cursor: pointer;

    &:hover {
        color: $red;
        text-decoration-color: transparent;
    }
}


.wrapper {
    overflow: hidden;
}


// BLOCK $link-top
.body-nav_active {
    .link-top {
        opacity: 1;
        transform: rotate(0);
        visibility: visible;
    }
}
.link-top,
.modal-active .link-top {
    @media (max-width: $break_md) {
        display: none;
    }
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 15;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $light;
    mix-blend-mode: difference;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transform: rotate(180deg);
    visibility: hidden;
    transition: {
        property: transform, opacity, visibility;
        duration: 1s;
    }
    &__icon {
        max-width: 18px;
        max-height: 9px;
        stroke: $dark;
        stroke-width: 2px;
    }
}



// BLOCK $languages
.languages {
    display: flex;

    &__item {
        margin-right: 10px;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        opacity: .3;
        transition: {
            property: opacity;
            duration: .5s;
        }
    }
    &__item:active {
        transform: translateY(1px);
    }
    &__item_active {
        opacity: 1;
        pointer-events: none;
    }
    &__item:hover {
        opacity: 1;
        color: $red;
    }
    &__item:last-child {
        margin-right: 0;
    }
}



// BLOCK $not-found
.not-found {
    padding-bottom: 40px;

    .header__parallax {
        left: auto;
        right: 50px;
    }
    &__wrapper {
        @include container();
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
    }
    &__inner {
        @include row-flex();
    }
    &__col {
        @include col();
        @include size(7);
        @include size-xl(8);
        @include size-lg(9);
        @include size-md(12);
    }
    &__title {
        @media (max-width: $break_md) {
            font-size: 80px;
        }
        @media (max-width: $break_xss) {
            font-size: 48px;
        }
        margin-bottom: 5px;
        font-size: 102px;
        line-height: 124%;
        font-weight: 500;
        color: $red;
    }
    &__subtitle {
        @media (max-width: $break_lg) {
            margin-bottom: 64px;
        }
        @media (max-width: $break_md) {
            margin-bottom: 40px;
        }
        @media (max-width: $break_xss) {
            margin-bottom: 32px;
        }
        @include h1();
        font-weight: 500;
        margin-bottom: 100px;
    }
}


// BLOCK $thanks
.thanks {
    padding-bottom: 40px;

    .header__parallax {
        left: auto;
        right: 50px;
    }
    &__wrapper {
        @media (max-width: $break_sm) {
            padding-top: 40px;
            padding-bottom: 20px;
        }
        @include container();
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
    }
    &__inner {
        @include row-flex();
    }
    &__col {
        @include col();
        @include size(5);
        @include size-xl(6);
        @include size-lg(6);
        @include size-sm(12);
    }
    &__title {
        @include h1();
        margin-bottom: 16px;
        font-weight: 500;
        color: $yellow;
    }
    &__subtitle {
        @media (max-width: $break_lg) {
            margin-bottom: 64px;
        }
        @media (max-width: $break_md) {
            margin-bottom: 40px;
        }
        @media (max-width: $break_xss) {
            margin-bottom: 32px;
            font-size: 16px;
        }
        @include h3();
        font-weight: 500;
        margin-bottom: 100px;
    }
    &__gexagon {
        @media (max-width: $break_sm) {
            margin-top: 40px;
            margin-left: auto;
            margin-right: auto;
        }
        @include col();
        margin-left: auto;
    }
}

// BLOCK $go-back
.go-back {
    display: inline-flex;
    align-items: center;
    transition: {
        property: color;
        duration: .5s;
    }

    &__icon {
        @media (max-width: $break_md) {
            max-width: 40px;
            max-height: 40px;
            min-width: 40px;
            min-height: 40px;
            margin-right: 16px;
        }
        @media (max-width: $break_xss) {
            max-width: 28px;
            max-height: 28px;
            min-width: 28px;
            min-height: 28px;
            margin-right: 12px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 50px;
        max-height: 50px;
        min-width: 50px;
        min-height: 50px;
        margin-right: 20px;
        border-radius: 50%;
        background-color: $light;
        stroke: $dark;
        stroke-width: 4px;
        transition: {
            property: stroke,background-color;
            duration: .5s;
        }
    }
    &:hover {
        color: $red;
    }
    &:hover &__icon {
        stroke: $light;
        background-color: $red;
    }
    &__icon-inner {
        width: 8px;
    }
}


.modal-text {
    @media (max-width: $break_md) {
        max-width: 570px;
    }
    @media (max-width: $break_lg) {
        max-width: 570px;
    }
    @media (max-width: $break_xl) {
        max-width: 570px;
    }
    max-width: 570px;

    &__title {
        @include h1();
        margin-bottom: 30px;
    }
    .modal-b__inner {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-right: 16px;
        padding-left: 16px;
    }
    &__text {
        margin-bottom: 16px;
        font-size: 12px;
    }
    &__text:last-child {
        margin-bottom: 0;
    }
}


.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
